/* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* PRESS START 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* POIRET ONE */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Press+Start+2P&display=swap');

.gameDisplay * {
  margin: 0;
}

.gameDisplay {
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  padding-inline: 0.8rem;
  margin-top: 1.2rem;
}

.gameDisplay :first-child {
  position: relative;
}

.gameDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  height: 100%;
  border: 1px solid var(--wag-bdr-main);
  border-radius: 10px;
  margin-left: 1rem;
  padding: 2em;
  user-select: none;
}

.gameTitle {
  width: 100%;
  font-size: clamp(4.5rem, 4.5vw, 16rem);
  font-weight: 900;
  text-align: center;
}

.tutorial {
  font-size: 1rem;
  width: 20rem;
  text-align: justify;
}

.bold {
  width: max-content;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  border-bottom: 1px solid var(--wag-bdr-main);
  text-align: center;
  white-space: nowrap;
  margin: 0 auto 2rem;
}

/* MS */
.MSFont {
  font-family: 'Lato', sans-serif;
  font-size: clamp(3.6rem, 3.6vw, 13.5rem);
  font-weight: 300;
  font-style: italic;
  border: none;
}

.MINE {
  font-weight: 900;
  font-style: initial;
}

/* COLORS */
.red {
  --tetris-red: rgb(227 78 78);
  color: var(--tetris-red);
}

.orange {
  --tetris-red: rgb(223 173 36);
  color: var(--tetris-red);
}

.yellow {
  --tetris-red: rgb(223 217 36);
  color: var(--tetris-red);
}

.green {
  --tetris-green: rgb(48 211 56);
  color: var(--tetris-green);
}

.blue {
  --tetris-red: rgb(36 95 223);
  color: var(--tetris-red);
}

.purple {
  --tetris-purple: rgb(132 61 198);
  color: var(--tetris-purple);
}

@media (max-width: 900px) {
  .gameDisplay {
    width: max-content;
    flex-direction: column;
    padding: 1.2rem .8rem;
    margin-inline: auto;
  }

  .gameDetails {
    width: 100%;
    margin: 1.2rem auto;
  }

  .gameTitle {
    width: max-content;
    font-size: clamp(2rem, 18vw, 8rem);
    margin: none;
  }

  /* .tutorial {
    
  } */
}