.container {
    height: calc(100vh - 46px);
    display: flex;
    justify-content: center;
    
}

.aboutPhoto {
    aspect-ratio: 1;
    width: 12.5rem;
    border-radius: 100%;
}

.aboutPhotoDiv {
    margin: 0 auto;
}

.aboutLinks {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1.2rem 0 0;
}

.aboutWhole {
    min-width: 23.5rem;
    max-width: 37.5rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    margin: 0 auto;
    
}

.headers {
    font-size: 1.6rem;
    font-weight: bold;
}

.content {
    font-size: 1rem;
}