
.authForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  font-family: 'lato';
  border: 1px solid var(--wag-bdr-main);
  border-radius: 1rem;
  padding: 2em 7em 3em;
  margin: 20px auto;
}

.authForms h1 {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.authForms > form {
  text-align: center;
}

.authLabelSection {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
}

.authButton {
  background: black;
  font-size: 1.5rem;
  color: white;
  border: 1px solid var(--wag-bdr-main);
  border-radius: 50rem;
  padding: .5em 3.5em;
  margin-top: 1.2em;
  transition: all 80ms ease-in;
}

.authButton:hover {
  background: var(--wag-fnt-act);
}

.authLabel {
    font-size: 1.4rem;
    padding: 10px;
}

.authInput {
    border-radius: .5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    padding-left: 10px;
    outline: none;
    border: 1px solid var(--wag-bdr-main);
    transition: all 80ms ease-in;
}

.authInput:is(:focus, :active) {
  background: var(--wag-bdr-main);
}