.userInfoTop {
    display: flex;
    flex-direction: col;
    align-items: baseline;
    justify-content: center;
}

.userName {
    font-size: 1.5rem;
    text-decoration: underline;
}

.name {
    margin-left: .6rem;
    font-size: 1.2rem;
}

.userInfoBottom {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.userInfoCont {
    margin: 0 auto;
    width: 80vw;

}

.profileTop {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 30vh;
}

.profileBot {
    padding: 2rem;
    height: 60vh;
    /* overflow-y: scroll; */
}