.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: .3rem;
  width: 100%;
  height: 100%;
  font-size: clamp(.2rem, 4vw, 1.8rem);
  white-space: nowrap;
  color: white;
  padding-block: 1%;
  user-select: none;
}

.newGame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  min-width: 30%;
  background: linear-gradient(
    -12deg,
    var(--bg-main) 25%,
    var(--bg-game-1),
    var(--bg-main) 75%
  );
  background-position: -13%;
  background-size: 400%;
  border: 1px solid white;
  border-radius: 1rem 0 0 1rem;
  padding-inline: 2em;
  transition: all 60ms ease-out;
}

.pause {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 100%;
  min-width: max-content;
  background: linear-gradient(
    45deg,
    var(--bg-main) 25%,
    var(--bg-game-1),
    var(--bg-main) 75%
  );
  background-position: -13%;
  background-size: 400%;
  border: 1px solid white;
  border-radius: 0 1rem 1rem 0;
  transition: all 60ms ease-out;
}

.newGame:is(:hover, :focus) {
  background-position: 80%;
  font-weight: bold;
  transition: all 60ms ease-in;
}
.pause:is(:hover, :focus) {
  background-position: -110%;
  font-weight: bold;
  transition: all 60ms ease-in;
}