@keyframes background-pan {
  from {background-position: 0% center;}
  to {background-position: -200% center;}
}

.gameBoard {
  display: grid;
  justify-self: center;
  grid-template-rows: repeat(var(--height), 1fr);
  grid-template-columns: repeat(var(--width), 1fr);
  grid-gap: 2px;
  width: 100%;
  height: max-content;
  max-width: 60rem;
  max-height: 85vh;
  background: linear-gradient(
    95deg,
    var(--bg-main) 50%,
    var(--bg-act),
    var(--bg-main) 60%
  );
  background-size: 200%;
  font-size: 1.5rem;
  border: 2px solid #333;
  overflow-x: clip;
  overflow-y: auto;
  animation: background-pan 35s cubic-bezier(.2,.8,.15,1.33) infinite;
}

.gameBoard::-webkit-scrollbar {
  display: none;
}