.minesContainer {
  position: absolute;
  right: 0;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1vw;
  width: 22%;
  height: 100%;
  color: white;
  border-bottom: 1px solid white;
  user-select: none;
}

.minesContainer p {
  margin: 0;
}

.title {
  font-size: clamp(.3rem, 2.4vw, 1.8rem);
}

.mines {
  font-size: clamp(.67rem, 4.9vw, 4rem);
}

@media (max-width: 900px) {
  .title {
    font-size: clamp(.3rem, 3.5vw, 1.8rem);
  }

  .mines {
    font-size: clamp(.67rem, 8vw, 4rem);
  }
}