.timerContainer {
  position: absolute;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  width: 22%;
  height: 100%;
  color: white;
  border-bottom: 1px solid white;
  user-select: none;
}

.timerContainer p {
  margin: 0;
}

.title {
  font-size: 1.8rem;
}

.timer {
  font-size: 4rem;
}