.timerContainer {
  position: absolute;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  width: 22%;
  height: 100%;
  color: white;
  border-bottom: 1px solid white;
  user-select: none;
  isolation: isolate;
}

.timerContainer p {
  margin: 0;
}

.title {
  font-size: clamp(.3rem, 2.4vw, 1.8rem);
}

.timer {
  font-size: clamp(.67rem, 4.9vw, 4rem);
}

@media (max-width: 900px) {
  .title {
    font-size: clamp(.3rem, 3.5vw, 1.8rem);
  }

  .timer {
    font-size: clamp(.67rem, 8vw, 4rem);
  }
}