
.boardConstraints {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-gap: 0;

    padding: 10px;
    border: solid blue 4px;
    
    
}


.controlConstraints {

    border: solid yellow 4px;
    margin: 0, auto;
    width: 252px;
}

.controlButton {
    margin: 4px;
    padding:3px;
}

.gameConstraints {
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0 auto;

}