
.boardConstraints {
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
}


.controlConstraints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
    /* border: solid yellow 4px; */
    /* width: 80vw; */
}

.controlButton {
    
    font-weight: bold;
    display: inline-flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding:18px;
}

.gameConstraints {
    display:inline-flexbox;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 46px);
    /* margin: 0 auto; */

}

.controlButtonConstraints {
    height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* margin: 10px; */
}

.boardConstUse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .controlCont {
    
} */