@import '~antd/dist/antd.css';

* {
    box-sizing: border-box
}

:root {
  font-size: 16px;
  --wag-bg-main: #f7f7f7;
  --wag-fnt-main: #101010;
  --wag-fnt-act: #39e;
  --wag-bdr-main: #d4d4d4;
  --sb-clr-1: rgb(220 220 220 / .4);
  --sb-clr-2: rgb(220 220 220 / 1);
  --sb-bg: rgb(90 90 90 / .4);
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-clr-1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sb-clr-2);
}

::-webkit-scrollbar-track {
  background: var(--sb-bg);
}

::-webkit-scrollbar-corner {
 background: transparent;
}

@media (min-width: 2560px) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 3840px) {
  :root {
    font-size: 32px;
  }
}