@import '~antd/dist/antd.css';

/* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* PRESS START 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* POIRET ONE */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Press+Start+2P&display=swap');


* {
    box-sizing: border-box
}

:root {
  font-size: 16px;
  --wag-bg-main: #f7f7f7;
  --wag-fnt-main: #101010;
  --wag-fnt-act: #39e;
  --wag-bdr-main: #d4d4d4;
  --sb-clr-1: rgb(220 220 220 / .7);
  --sb-clr-2: rgb(220 220 220 / 1);
  --sb-bg: rgb(160 160 160 / .2);
}

body {
  overflow: overlay;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-clr-1);
  border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sb-clr-2);
}

::-webkit-scrollbar-track {
  background: var(--sb-bg);
}

::-webkit-scrollbar-corner {
 background: transparent;
}

@media (min-width: 2560px) {
  :root {
    font-size: 24px;
  }
}

@media (min-width: 3840px) {
  :root {
    font-size: 32px;
  }
}